.App {
  width: 100%;
  margin: auto;
}

.App > header {
  display: flex;
  justify-content: flex-start;
  column-gap: 5px;
  background-color: #2F2F2F;
  padding: 10px;
  color: white;
}

.App > header button {
  background-color: white;
  border: unset;
  border-radius: 5px;
}

.Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  row-gap: 10px;
  overflow: auto;
}

.Card {
  position: relative;
  width: 500px;
  max-width: 90%;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
}

.Card img {
  height: 500px;
  width: 500px;
}

.Card > button {
  position: absolute;
  right: 0;
  top: 0;
}

.CardCreator {
  position: fixed;
  background-color: #2F2F2F;
  color: white;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.3s;
}

.CardCreator.open {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
}
.CardCreator.open > button {
  position: absolute;
  top: 0;
  right: 0;
}

.CardCreator.minified {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
}

.CardCreator form {
  padding: 10px;
}