@import '../index.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: white;
  background-color: $very-dark-grey;
  
  header {
    display: flex;
    justify-content: flex-start;
    column-gap: 5px;
    background-color: $dark-grey;
    box-shadow: 0 0 10px black;
  }
  
  main {
    display: flex;
    flex-grow: 1;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
}
