@import '../index.scss';

$default-perspective: perspective(3000px);

.Card {
  max-width: 90vw;
  aspect-ratio: 2.5 / 3.5;
  transition-property: transform;
  transition-duration: 0.5s;
  transform: $default-perspective;
  overflow: hidden;
  color: black;

  .content {
    position: relative;
    width: 500px;
    box-sizing: border-box;
    aspect-ratio: 2.5 / 3.5;
    border-width: 10px;
    border-color: #722d8e;
    border-radius: 20px;
    border-style: solid;
    padding: 10px;
    transform-origin: top left;
    background-color: $silver;
    
    .front,.back {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .front {
      height: 100%;

      * {
        width: 90%;
        border-radius: 5px;
        overflow: hidden;
      }
      
      h3 {
        height: 2em;
        margin-top: 1em;
        margin-bottom: 0.5em;
      }

      img {
        aspect-ratio: 1 / 1;
      }

      div {
        height: 5em;
        flex-grow: 1;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $light-grey;
        box-sizing: border-box;
        word-wrap: break-word;
      }
    }
    
    .back {
      margin-top: 10px;

      div {
        width: 90%;
        height: 90%;
      }

      button {
        position: absolute;
        width: unset;
        right: 10px;
        top: 10px;
        background-color: $red;
      }
    }
  }

  &.show_front {
    .content {
      .back {
        display: none;
      }
    }
  }

  &.show_back {
    .content {
      .front {
        display: none;
      }
    }
  }

  &.rotate_left {
    transform: $default-perspective rotateY(90deg);
  }

  &.rotate_right {
    transform: $default-perspective rotateY(-90deg);
  }

  &.no_transition {
    transition: none;
  }
}


