.CardCreator {
  position: fixed;
  background-color: #2F2F2F;
  color: white;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.3s;
  
  form {
    padding: 10px;
  }
}

.CardCreator.open {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
  
  >button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.CardCreator.minified {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
}
