.Card {
  max-width: 90vw;
  aspect-ratio: 2.5 / 3.5;
  transition-property: transform;
  transition-duration: 0.5s;

  .content {
    position: relative;
    width: 500px;
    aspect-ratio: 2.5 / 3.5;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    transform-origin: top left;
    background-color: wheat;
    
    .front,.back {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .front {
      * {
        width: 90%;
      }

      img {
        aspect-ratio: 1 / 1;
      }

      div {
        flex-grow: 1;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #EEE;
      }
    }
    
    .back {
      div {
        width: 90%;
        height: 90%;
      }

      button {
        position: absolute;
        width: unset;
        right: 0;
        top: 0;
      }
    }
  }
  
  .content.front {
    .back {
      display: none;
    }
  }

  .content.back {
    .front {
      display: none;
    }
  }
}

