.CardCreator {
  position: fixed;
  background-color: #2F2F2F;
  color: white;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.3s;
  
  form {
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    justify-content: center;
    
    .image {
      position: relative;
      aspect-ratio: 1;
      
      * {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      
      input {
        opacity: 0;
      }
      
      img,div {
        background-color: black;
        pointer-events: none;
      }
      
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 30px;
      }
    }
    
    textarea {
      height: 5em;
    }
    
    button {
      height: 3em;
    }
  }
}

.CardCreator.open {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
  
  >button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.CardCreator.minified {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
}
