@import '../index.scss';

.Friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
  row-gap: 20px;
  
  input {
    width: 100%;
  }
}

.UserList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
}

.UserCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: $grey;
  border-radius: 10px;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  color: black;
  
  img {
    width: 30px;
    border-radius: 50%;
    aspect-ratio: '1 / 1';
  }
  
  span {
    width: 100%;
  }
}