.Grid {
  --card-width: 300px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  justify-items: center;
  align-items: center;
  grid-row-gap: 20px;
  margin-top: 40px;
  
  > * {
    width: var(--card-width);
  }
}
