$min-card-width: 300px;

.Grid {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax($min-card-width, 1fr));
  justify-items: center;
  align-items: center;
  grid-row-gap: 20px;
  margin-top: 40px;
  
  > * {
    width: 100%;
    min-width: $min-card-width;
  }
}
