.Menu {
  cursor: pointer;

  .items {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    color: red;
    background-color: #2F2F2F;
    padding: 10px;
    z-index: 1;
  }
}

.MenuItem {
  color: white;
  text-decoration: unset;
  cursor: pointer;
  font-size: 20px;
}