.RadioItem {
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 5px;

  .container {
    display: flex;
    width: 100%;
    transform: scale(0.9);
    opacity: 0.5;
    transition: transform 0.1s;
  }
  
  &.selected {

    .container {
      transform: none;
      opacity: 100%;
    }
  }
}