.SelectionItem {
  display: flex;
  width: fit-content;
  border: 3px solid transparent;

  .container {
    display: flex;
    width: fit-content;
    transition: transform 0.1s;
  }
  
  &.selected {
    border-color: green;

    .container {
      transform: scale(0.9);
    }
  }
}