.SelectionItem {
  border-radius: 10px;
  margin: 5px;

  .container {
    display: flex;
    transition: transform 0.1s;
    transform: scale(0.9);
    opacity: 50%;
  }
  
  &.selected {
    border-color: transparent;

    .container {
      transform: none;
      opacity: 100%;
    }
  }
}