@import '../index.scss';

.Trade {
  width: 100%;
  flex-grow: 1;

  .card_list {
    @include hide_scrollbar;
    height: 50%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    
    >* {
      height: 100%;
    }
  }
}

.SendForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  align-items: center;
  row-gap: 20px;
  
  >* {
    width: 100%;
  }
  
  >button {
    height: 3em;
  }
}

.SelectionItem {
  border-radius: 10px;
  margin: 5px;
  width: 100%;

  .container {
    display: flex;
    width: 100%;
    transition: transform 0.1s;
    transform: scale(0.9);
    filter: brightness(50%);
  }
  
  &.selected {
    border-color: transparent;

    .container {
      transform: none;
      filter: none;
    }
  }
}