@import '../index.scss';

.UserCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: $dark-grey;
  border-radius: 10px;
  column-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  @include no_text_select;
  
  .profile {
    width: 30px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
  
  .name {
    flex: 1;
  }
  
  button {
    white-space: nowrap;
  }
}