body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

button {
  background-color: white;
  border: unset;
  border-radius: 5px;
  padding: 5px;
}

$red: hsl(0, 100%, 60%);
$silver: #c0c0c0;
$dark-grey: #2F2F2F;
$very-dark-grey: #131313;
$grey: #5a5a5a;
$light-grey: #eeeeee;

@mixin hide_scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}